body{
    font-family: sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
    justify-content: center; 
    background: url("https://images.unsplash.com/photo-1501854140801-50d01698950b?ixlib=rb-1.2.1&       ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1575&q=80");
    background-size: cover;
    overflow: auto;
        
}

h2{
    text-transform: uppercase;
    color: aliceblue;
    letter-spacing: 5px;
    font-size: 25px;
    text-align: center;
}

.clock{
    display: flex;
    color: aliceblue;
    /* position: fixed; */
}

.clock div{
    margin: 10px;
    position: relative;
}

.clock span{
    display: flex;
    width: 100px;
    height: 80px;
    background-color: greenyellow;
    opacity: 0.8;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px gray;
}

.clock .text{
    height: 30px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: green;
}

.clock #ampm{
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: green;
    opacity: 0.8;
}